/*-- scss:defaults --*/


//Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

// Colors

$ash-grey: #b8ad9e;
$grey:#a79d91;
$slate: #8d8376;
$dark-grey: #696969;
$off-white: #e7e3dd;
$brown: #8f6e58;
$black: 	#000000;
$dark-brown:	#603e20;

// Base document colors
$navbar-bg: $ash-grey; // navbar
$navbar-fg: $brown; // navbar foreground elements
$navbar-hl: $dark-brown; // highlight color when hovering over navbar links
$body-bg: $off-white; // page background 
$body-color: $brown; // page text 
$footer-bg: $ash-grey;